*{
    margin: 0;
}
.btnRe{
    background-color: blue;
    border: none;
    width: 10%;
    height: 40px;
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bodyP{
    background-image: url(../img/fondo2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor{
    background-color: rgba(169, 169, 169, 0.815);
    width: 80%;
    height: 40%;
    margin: 15%;
    display: flex;
    margin-left: 10%;
    border-radius: 8px;
}

.longitud{
    background-color: rgb(136, 19, 245);
    width: 80%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: rgb(63, 228, 228);
    transition: 1s;
    color:rgb(7, 7, 7);
}

.longitud1{
    margin: 10px;
    width: 20%;
    margin-top: 5%;
}

.imgL{
    width: 80%;
}
.mayuscula{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    margin-left: 2px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mayusculas1{
    margin: 10px;
    width: 19%;
    margin-top: 5%;
}

.imgM{
    width: 20%;
}

.minuscula{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.minusculas1{
    margin: 10px;
    width: 19%;
    margin-left: 5%;
    margin-top: 5%;
}

.imgM{
    width: 100%;
}

.caracter{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    margin: 3px;
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caracter1{
    margin: 10px;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
}

.imgC{
    width: 100%;
}
.caja{
    display: flex;
    margin-left: 5%;
}

/*Ejercicio 2 Temperaturas*/

.bodyT{
    background-image: url(../img/temperatura.jpg);
}

.containerT{
    background-color: rgba(169, 169, 169, 0.733);
    width: 70%;
    height: 80%;
    margin-left: 10rem;
    margin-top: 5rem;
}

.tituloT{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caja1T{
    width: 40%;
    display: flex;
    padding: 1rem;
}

select{
    margin: 5rem;
    background-color:plum;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.select1T{
    width: 90%;
    margin: 5rem;
    border-radius: 0.5rem;
    margin-left: 7rem;
    background-color: rgb(106, 250, 255);
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.select2T{
    width: 90%;
    margin: 5rem;
    border-radius: 0.5rem;
    background-color: rgb(106, 250, 255);
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*INDEX*/
.index{
    background-image: url(../img/index.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.titulosI{
    margin: 3px;
    text-align: center;
    color: rgb(20, 3, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cajaI{
    margin-top: 10rem;
    margin-left: 15rem;
}

a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.btnI{
    background-color: rgb(113, 7, 145);
    margin: 1.3rem;
    width: 30%;
    height: 40px;
    border-radius: 1rem;
}

.caja2I{
    margin-top: -15rem;
    margin-left: 40rem;
}

.btn1I{
    background-color: rgb(113, 7, 145);
    margin: 1.3rem;
    width: 50%;
    height: 40px;
    border-radius: 1rem;
}

/*Triangulos*/
.BodyTri{
    background-image: url(../img/indexT.jpg);
    background-size: cover;
    text-align: center;
    margin: 2rem;
}

.cajaTRI{
    margin: 1rem;
}

.cajaTRI input{
    margin: 1rem;
    width: 20%;
    border-radius: 1px;
}



.tituloTri{
    text-align: center;
}

/*Figuras Geometricas*/
.bodyFG{
    background-image: url(../img/figurasgeometricas.jpg);
    background-size: cover;
}

.tituloFG{
    text-align: center;
    margin-top: 5rem;
    color: rgb(43, 205, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedorF{
    display: flex;
    margin: 5rem;
}
.caja1F{
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caja1F img{
    width: 90%;
    margin: 1rem;
}

.caja2F{
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(21, 0, 139);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caja2F img{
    width: 90%;
    margin: 1rem;
}
/*Perimetro cuadrado*/

.peri{
    background-color: blueviolet;
    border: none;
    color: antiquewhite;
    width: 50%;
    border-radius: 5%;
    margin-left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.open-modal{
    background-color: blueviolet;
    border: none;
    color: antiquewhite;
    width: 50%;
    border-radius: 5%;
    margin-left: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal { 
    width: 10%;
    position: fixed;
    text-align: center;
    margin-left: 30%;
    top: 90%;
    padding: 1rem;
    background-color: rgb(227, 181, 233);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .close-modal{
    background-color: blueviolet;
    border: none;
    color: antiquewhite;
    width: 10%;
    float: right;
    border-radius: 5%;
    margin-left: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .modal-content{
    text-align: center;
  }


.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  /*Area cuadrado*/

  .modal.is-visiblea {
    visibility: visible;
    opacity: 1;
  }

  /*Perimetro RECTANGULO*/

  .modal.is-visibleR {
    visibility: visible;
    opacity: 1;
  }

  /*Area RECTANGULO*/
  .modal.is-visibleRA {
    visibility: visible;
    opacity: 1;
  }

  /*perimetro TRIANGULO*/
  .modal.is-visibleT {
    visibility: visible;
    opacity: 1;
  }

  /*Area TRIANGULO*/
  .modal.is-visibleTA {
    visibility: visible;
    opacity: 1;
  }

  /*Perimetro CIRCULO*/
  .modal.is-visibleC {
    visibility: visible;
    opacity: 1;
  }

  /*area CIRCULO*/
  .modal.is-visibleCir {
    visibility: visible;
    opacity: 1;
  }

/*Formularios registro*/
.bodyForm{
    background-color: cornflowerblue;
}

.tituloform{
    text-align: center;
}

.bodyForm form{
    background-color: aliceblue;
    width: 80%;
    height: 80vh;
    margin: 1rem;
    margin-left: 10rem;
    color: black;
    text-align: center;
}

#tipo{
    color: black;
}

  .bodyForm input{
    margin: 0.5%;
  }

  /*Modal de condiciones*/
.open-modal{
    background-color: #fffefcd3;
    border: none;
    margin-left: 5%;
    color: rgb(17, 17, 17);
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal-header h2{
    width: 100%;
    margin: 0%;
    background: linear-gradient(to right, rgb(227, 181, 233), blueviolet);
}

.open-modal input{
    width: 10%;

}
.modal { 
    width: 30%;
    height: 50%;
    position: fixed;
    text-align: center;
    margin-top: -30%;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .close-modal{
    background-color: #2b2929;
    border: none;
    color: #fff;
    border-radius: 5px;
    border-radius: 5%;
  }

  .modal-header button{
    width: 20%;
    height: 15%;
  }

  .modal-content{
    text-align: center;
    margin: 2%;
  }


.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

/*nombre*/
.bodyNom{
    background-image: url(../img/index1.jpg);
    background-size: cover;
    text-align: center;
}
