*{
    margin: 0;
}

.bodyP{
    background-image: url(../img/fondo2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor{
    background-color: rgba(169, 169, 169, 0.815);
    width: 80%;
    height: 40%;
    margin: 15%;
    display: flex;
    margin-left: 10%;
    border-radius: 8px;
}

.longitud{
    background-color: rgb(136, 19, 245);
    width: 80%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    background-color: rgb(185, 4, 4);
    transition: 1s;
    color:rgb(7, 7, 7);
}

.longitud1{
    margin: 10px;
    width: 20%;
    margin-top: 5%;
}

.imgL{
    width: 80%;
}
.mayuscula{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    margin-left: 2px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mayusculas1{
    margin: 10px;
    width: 19%;
    margin-top: 5%;
}

.imgM{
    width: 20%;
}

.minuscula{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.minusculas1{
    margin: 10px;
    width: 19%;
    margin-left: 5%;
    margin-top: 5%;
}

.imgM{
    width: 100%;
}

.caracter{
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    border: none;
    color: rgba(21, 214, 221, 0.993);
    margin: 3px;
    padding: 3px;
    font-size: 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caracter1{
    margin: 10px;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
}

.imgC{
    width: 100%;
}
.caja{
    display: flex;
    margin-left: 5%;
}

/*Ejercicio 2 Temperaturas*/

.bodyT{
    background-image: url(../img/temperatura.jpg);
}

.containerT{
    background-color: rgba(169, 169, 169, 0.733);
    width: 70%;
    height: 80%;
    margin-left: 10rem;
    margin-top: 5rem;
}

.tituloT{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caja1T{
    width: 40%;
    display: flex;
    padding: 1rem;
}

select{
    margin: 5rem;
    background-color:plum;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select1T{
    width: 90%;
    margin: 5rem;
    border-radius: 0.5rem;
    margin-left: 7rem;
    background-color: rgb(106, 250, 255);
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select2T{
    width: 90%;
    margin: 5rem;
    border-radius: 0.5rem;
    background-color: rgb(106, 250, 255);
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
